img{
  width: 5rem;
  height: 5rem;
}

.table-box,.navigation,.filters-wrapper{
  width: 90%;
  margin: auto;
}

.navigation-wrapper {
  background-color: #7952b3;
}

.filters-wrapper{
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
   margin-top: 5rem;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   color: blueviolet;
   font-weight: 600;
   font-size: 4.3rem;
}

.dropdown::before{
  content: 'show';
  display: inline-block;
  margin-right:0.4em;
}
.dropdown::after{
  content: 'entries';
  display: inline-block;
  margin-left:0.5em;
}